@font-face {
  font-family: 'HK Grotesk';
  src: url('./fonts/hkgrotesk-bold-webfont.woff2');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('./fonts/hkgrotesk-medium-webfont.woff2');
  font-weight: 500;
  font-style: regular;
  font-display: swap;
}
